body {
    font-family: 'Segoe UI';
    background: linear-gradient(135deg, #f2efe7, #9acbd0, #48a6a7, #006a71);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.background-circles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.background-circles div {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.circle1 {
    width: 120px;
    height: 120px;
    bottom: 10%;
    left: 15%;
    animation-name: floatUpDown;
    animation-duration: 20s;
}

.circle2 {
    width: 80px;
    height: 80px;
    bottom: 20%;
    left: 90%;
    animation-name: floatUpDown;
    animation-duration: 25s;
    animation-delay: 5s;
}

.circle3 {
    width: 150px;
    height: 150px;
    bottom: 35%;
    left: 70%;
    animation-name: floatUpDown;
    animation-duration: 30s;
    animation-delay: 10s;
}
.circle4 {
    width: 150px;
    height: 150px;
    bottom: 80%;
    left: 10%;
    animation-name: floatUpDown;
    animation-duration: 30s;
    animation-delay: 10s;
}
.circle5 {
    width: 100px;
    height: 100px;
    bottom: 80%;
    left: 90%;
    animation-name: floatUpDown;
    animation-duration: 30s;
    animation-delay: 10s;
}
@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}

.request-stop-form {
    background: #ffffff;
    padding: 30px 40px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px #48a6a7;
    max-width: 500px;
    margin: 50px auto 20px auto;
    position: relative;
    z-index: 1;
}

.request-stop-form h2 {
    text-align: center;
    margin-bottom: 25px;
}

.request-stop-form input,
.request-stop-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; 
}

.request-stop-form input:focus,
.request-stop-form textarea:focus {
    border: 1px solid #48a6a7; 
    outline: none; 
    box-shadow: 0 0 8px #48a6a7;
}

.submit-btn {
    font-family: 'Segoe UI';
    font-weight: bold;
    background-color: #48a6a7;
    color: black;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto; 
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

.submit-btn:hover {
    background-color: #ffce39;
}
